[submodule "xslevelup/web/minesweeper"]
	path = xslevelup/web/minesweeper
	url = https://github.com/fjanos92/minesweeper
[submodule "wcskatedra/poker-team-alpha"]
	path = wcskatedra/poker-team-alpha
	url = https://github.com/wcs-katedra/poker-team-alpha
[submodule "gallery"]
	path = gallery
	url = https://github.com/wolfmanfp/gallery.git
[submodule "timetable"]
	path = timetable
	url = https://github.com/wolfmanfp/timetable.git
[submodule "xslevelup/web/tortoisedream"]
	path = xslevelup/web/tortoisedream
	url = https://github.com/wolfmanfp/tortoisedream.git
